@keyframes pageAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.todo {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  min-width: 404px;
  max-width: 404px;
  min-height: 429px;
  padding: 24px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  animation: pageAppear calc(var(--transition-duration) * 2) ease-out both;
  transition: opacity 0.25s ease;
}

.todo.isExiting {
  opacity: 0;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.form {
  display: flex;
  column-gap: 16px;
  align-items: end;
}

.field {
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px;
  font-weight: 600;
}

.deleteAllButton {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--color-gray-4);

  &:hover {
    color: var(--color-gray-4);
  }

  /* &:not(.is-visible) {
    opacity: 0;
    visibility: hidden;
  } */
}

.list,
.emptyMessage {
  &:empty {
    display: none;
  }
}

.list {
  --todoListRowGap: 8px;

  display: grid;
  row-gap: var(--todoListRowGap);
}

.emptyMessage {
  text-align: center;
  color: var(--color-gray-4);
}
